.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}


.data-grid {
  display: flex;
  flex-direction: column;
  grid-template-columns: none;
}

.data-grid .palette-card {
  margin-bottom: 1rem;
}

@media screen and (min-width: 750px) {
  .data-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }

  .data-grid .palette-card {
    margin-bottom: 0;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
